<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 class="text-danger text-center">Uh-oh</h1>
        <h2 class="text-info text-center">Desilo se nešto što se nije trebalo desiti.</h2>
    </hgroup>
</body>
</html>
