@{
    ViewBag.Title = "Stranica nije pronađena";
}

<h1 class="text-center">404</h1>
<h2 class="text-center text-info">We are sorry, user!
    <br>
    <br>
    But your webpage is in another castle!</h2>

