
@{
    ViewBag.Title = "Nema ovlasti";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized</title>
</head>
<body>
    <div> 
        <h1 class="text-center">Neće da može, Pantiću!</h1><br>
        <img class="center-block" src="~/Images/401.jpg">
        <h3 class="text-center">Će se @Html.ActionLink("ulogiraš", "Prijava", "Auth") pa će može da pristupiš</h3 class="text-center">
    </div>
</body>
</html>
