@model List<AlgebraSeminar.Models.Seminar>
@{
    ViewBag.Title = "Predbilježba";
    var nepopunjeniSeminari = Model.Where(x => x.BrojSlobodnihMjesta > 0).ToList();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    @using (Html.BeginForm("Predbiljezba", "Home", FormMethod.Get))
    {
        <div class="md-form mt-0" style="padding-top: 10px">
            <input class="form-control" type="text" placeholder="Pretraži..." name="query">
            <div style="padding-top: 10px">
                <input class="btn btn-primary" type="submit" value="Pretraži">
            </div>
        </div>
    }

    @Html.Partial("_TablicaSeminara", Model.Where(x => x.BrojSlobodnihMjesta > 0).ToList())

    @if (Session["TrenutniZaposlenik"] != null && nepopunjeniSeminari != null)
    {
        <h3>Popunjeni seminari:</h3>
        @Html.Partial("_TablicaSeminara", nepopunjeniSeminari)
    }
</body>
</html>
